---
import {Image} from "astro:assets";
import myLogo from "@/assets/logo.svg";
import facebook from "@/assets/facebook.svg"
import instagram from "@/assets/instagram.svg"
import whatsApp from "@/assets/whatsApp.svg"

const links = [
  {
    title : "FB",
    icon : facebook,
    href : "https://facebook.de"
  },
  {
    title : "IG",
    icon : instagram,
    href : "https://instagram.de"
  },
  {
    title : "WA",
    icon : whatsApp,
    href : "https://whatsapp.com"
  }
];
---

<section aria-label="Hero section" class="flex flex-col items-center gap-space-md py-section">
  <Image src={myLogo} alt="Logo" class="size-icon-xl w-auto" />
  <ul class="flex justify-center gap-space-xs">
    {links.map((i) => (
      <li>
        <a href={i.href} target="_blank" class="hover:opacity-80 block p-1">
          <Image src={i.icon} alt={i.title} class="size-icon-md w-auto" />
        </a>
      </li>
    ))}
  </ul>

</section>